<!DOCTYPE html>
{% extends 'main.html' %}
{% load bootstrap %}

{% block title %} Film form {% endblock %}

{% block page %}
    <div class="card" style="width: 42rem; float: left; margin-right: 1rem;">
        <div class="card-body">
            {% if isNew %}
                <h5 class="card-title">Add movie</h5>
            {% else %}
                <h5 class="card-title">Edit movie</h5>
            {% endif %}

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- {{ form }} -->
                {{ form|bootstrap }}
                <br>
                {{ form_info|bootstrap }}
                <br>
                    {% if isNew %}
                        <button type="submit" class="btn-success">Add movie</button>
                    {% else %}
                        <button type="submit" class="btn-success">Edit movie</button>
                    {% endif %}
            </form>
        </div>
    </div>

    {% if rating %}
        <div class="card" style="width: 40rem;">
            <div class="card-body">
                <h5 class="card-title">Rate Movie</h5>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <br>
                    {{ rating|bootstrap }}
                        <button type="submit" class="btn-success">Rate</button>
                </form>
            </div>
        </div>
    {% endif rating %}

    {% for reviews_loop in reviews %}
        <h4>Stars : {{ reviews_loop.stars }}</h4>
        <p>{{ reviews_loop.review }}</p>
    {% endfor %}
    <a href="{% url 'all_movies' %}"> <button type="submit" class="btn btn-danger">Back</button> </a>
{% endblock %}